   <!-- Sidebar -->

   <div class="side" id="sidebar-wrapper" style="background-color: rgba(255, 255, 255, 0.92);">

    <div class="sidebar-heading " style="background-color: rgba(255, 255, 255, 0.92);  color: rgba(219, 121, 0, 0.92); height: 150px; "> <h1><i class="fa fa-ravelry" aria-hidden="true"></i>Project </h1><h1 style="padding-left: 5px;">Management</h1></div>

      <div class="list-group-item-danger list-group-horizontal-lg">
      <a href="" class="list-group-item list-group-item-action bg-rgba(255, 255, 255, 0.92)" routerLink="/dashboard"  routerLinkActive="active">Dashboard</a>
      <a href="" class="list-group-item list-group-item-action bg-rgba(255, 255, 255, 0.92)" routerLink="/project"  routerLinkActive="active"><i class="fa fa-address-book" aria-hidden="true"></i>  My Project</a>
      <a href="#" class="list-group-item list-group-item-action bg-rgba(255, 255, 255, 0.92)" routerLink="/issue"  routerLinkActive="active">Issues</a>
      <a href="#" class="list-group-item list-group-item-action bg-rgba(255, 255, 255, 0.92)" >Events</a>
      <a href="#" class="list-group-item list-group-item-action bg-rgba(255, 255, 255, 0.92)">Profile</a>
      <a href="#" class="list-group-item list-group-item-action bg-rgba(255, 255, 255, 0.92)">Status</a>
    </div>

  </div>

